body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(168, 130, 130, 0.1);
}
header {
    background-color: #FFCDC6;
    padding: 5px;
    text-align: center;
}
.search-box{
    position: relative;
    display: inline-block;
}
.search-box input {
    padding-left: 35px;
    height: 15px;
    width: 250px;
}
.search-box img {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
}
.active {
    font-size: x-large;
    font-weight: bolder;
    float: left;
    color: #382110;
}

nav ul {
    list-style: none;
    padding: 0;
    text-decoration: none;
}
a {
    text-decoration: none;
    color: #382110;
}
nav ul li {
    display: inline;
    margin: 0 15px;
    text-decoration: none;
   
}

nav ul li input {
    padding: 5px;
    text-decoration: none;
}
.or {
    font-weight: bolder;
}
.pr {
    font-size: 25px;
    font-weight: bolder;
}

h2 {
    font-size: 20px;
}
#th {
    font-size: 19.8px;
}
button {
    padding: 8px 12px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}
main {
    text-align: left;
    padding: 20px;
}
.options {
    display: flex;
    justify-content: left;
    gap: 20px;
}
.option {
    padding: 20px;
    text-align: center;
    max-width: -300px;
    height: 40vh;
    background-color: rgba(168, 130, 130, 0.1);
}
.option img {
    width: 71px;
    height: 74px;
}
footer {
    background-color: #FFCDC6;
    padding: 15px;
    margin-top: 6px;
    width: 180;
    display: flex;
    justify-content: space-between;
}
.item {
    padding: 5px 0;
    font-weight: 700;
    font-size: medium;
}
.item-1 {
    text-align: center;
    padding: 5px 0;
    font-weight: 600;
    line-height: 20px;
}
#cont {
   margin-right: 40rem;
   margin-top: -15px;
}

footer h4 {
    margin: 0;
}
.imgs {
    margin-top: 8px;
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.imges {
    width: 29px;
    height: 29px;
    vertical-align: middle;
    margin-top: 8px;
}
.images {
    text-align: center;
}